# Default values for coredns-chart
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

name: coredns
namespace: kube-system
serviceType: managed

userID: 33
groupID: 33

minReplicas: 2
maxReplicas: 10

configmap:
  cache: 30
  custom: ""
  log: |
    denial
    error

image:
  registry: quay.io
  repository: giantswarm/coredns
  tag: 1.6.2

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1

ports:
  dns:
    name: dns
    targetPort: 1053
    port: 53
  prometheus: 9153

cluster:
  calico:
    CIDR: 192.168.0.0/16
  kubernetes:
    API:
      clusterIPRange: 172.31.0.0/16
    DNS:
      IP: 172.31.0.10
    domain: cluster.local

loadbalancePolicy: round_robin

test:
  image:
    registry: quay.io
    repository: giantswarm/alpine-testing
    tag: 0.1.1
